/* box home */
.bg-box-home {
    color: #FF6B59;
    text-align: center;
    padding: 0.8rem 0;
  }

  .bg-box-home h3 {
    color: #155F6F;
  }

  .box-home-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.8rem 0 2rem;
  }

  .box-home-flex > figure {
    margin: 25px;
  }