/* box home */
.bg-box-home {
    color: #FF6B59;
    text-align: center;
    padding: 3em 0;
  }

  .bg-box-home h3 {
    color: #155F6F;
  }

  .box-home-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .box-home-flex > figure {
    margin: 25px;
  }